/*Home kode - start*/

max-zoom: 150%

/*Settings generelt for siden - start*/

* {
    margin: 0;
    padding: 0;
}

a,
h1,
h2,
p,
#infobar,
.varsel,
.adminpanel {
    text-decoration: none;
    font-family: "Segoe UI";
    color: whitesmoke;
}

p {
    font-size: 1.2em;
    top: 10px;
}


/*Settings generelt for siden - slutt*/


/*Header og navigator - start*/

header {
    position: relative;
    background-color: #191919;
    height: 110px;
    z-index: 1;
}

#logo {
    float: left;
    padding-left: 5%;
}

#logo img {
    margin-top: 4px;
    max-width: 200px;
    height: 100px;
}

#navbuttons {
    float: right;
    text-align: center;
    text-decoration: none;
    max-width: 100%;
    margin-top: 33.5px;
    margin-right: 5%;
}

#navbuttons a {
    padding: 10px;
    display: inline-block;
}

#navbuttons a:hover {
    background-color: rgba(30, 37, 48, 0.5);
    border-radius: 10%;
}

#infobarcontent {
    position: absolute;
    height: 30px;
    width: 100%;
    background-color: #191919;
    z-index: 1;
    padding-left: 5%;
    margin-top: 104px;
    box-sizing: border-box;

}

#infobarcontent a {
    position: relative;
    padding-top: 20px;
    float: left;
    bottom: 17px;
}

/*Header og navigator - slutt*/


/*html, body (alt innenfor body) - start*/

html {
    height: 100%;
}

body {
    position: relative;
    background-image: url(http://localhost/something/Alex/WesterdalsSocial/IMG_0901.JPG);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    z-index: 0;
    min-height: 100%;
}


/*Container med hovedinnhold på alle sider - start*/

#container {
    z-index: 0;
    width: 90%;
    height: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
    border-radius: 2%;
    position: relative;
}

#containerHovedside {
    position: fixed;
    z-index: 0;
    padding:0;
    margin:0;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
}


/*Container med hovedinnhold på alle sider - slutt*/

#sitecontent {
    text-align: center;
    position: relative;
    margin: auto;
    padding: 1%;
}


/*html, body (alt innenfor body) - slutt*/


/*Pusher og footer - start*/

.push {
    height: 70px;
}

footer {
    background-color: #191919;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 40px;
    text-align: center;
}

footer p {
    margin-top: 10px;
}


/*Pusher og footer - slutt*/


/*Hexagons hovedside - start*/

.hexbox {
    position: absolute;
    width: 450px;
    height: 456px;
    margin: auto;
    opacity: 0.8;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.even {
    position: absolute;
    margin-top: 95px;
}

.odd {
    position: absolute;
    margin-left: 160px;
}

.even2 {
    position: absolute;
    margin-left: 320px;
    margin-top: 95px;
}


.hexagon {
    width: 300px;
    height: 200px;
    background: red;
    transform: rotate(120deg);
    margin: auto;
    overflow: hidden;
    visibility: hidden;
}


.hexagon-inside
{
    width: 100%;
    height: 100%;
    background-color: green;
    transform: rotate(-60deg);
    overflow: hidden;
    display: inline-block;
    list-style-type: none;
}

.hexagonimg
{
    width: 100%;
    height: 100%;
    background-image: url(http://localhost/something/bilder/hexBilde.jpg);
    background-position: center;
    background-size: contain;
    transform: rotate(-60deg);
    visibility: visible;
}

.hexagon:hover {
    transform: scale(1.1) rotate(120deg);
    transition-duration: 1s;
}


/*Hexagons hovedside - slutt*/

#registerbox,
#brukerinfo,
.adminpanel {
    line-height: 150%;
}
.forms {
    text-decoration: none;
    width: 200px;
    border-radius: 4px;
    background-color: rgba(30, 37, 48, 0.5);
    text-align: center;
    margin-left: auto;
    margin-bottom: auto;
    margin-right: auto;
    margin-top: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

.adminpanel{
    text-decoration: none;
    border-radius: 4px;
    background-color: rgba(30, 37, 48, 0.5);
    padding-left: 30px;
    padding-right: 25px;
    margin-left: auto;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-top: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

.left {
    float: left;
}

.right {
    float: right;
}

.varsel {
    text-decoration: none;
    width: 200px;
    border-radius: 4px;
    background-color: rgba(30, 37, 48, 0.5);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 10px;
}

.center {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.centerHorizontal {
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

.bildeTest {
    position: relative;
    width: 800px;;
    height: 400px;
    overflow: hidden;
}

.bildeTest img {
    width: 100%;
}

.bildeTestText {
    position: relative;
    width: 800px;;
    height: 100%;
}

.bildeKommentarText {
    position: relative;
    width: 800px;;
    height: 100%;
}

/*Home kode - slutt*/


#avatarBilde {
    overflow: hidden;
    max-width: 100px;
    max-height: 100px;
    position: relative;
}

#avatarBildeHeader {
    width: 100px;
    height: 100px;
    bottom: 35px;
    position: relative;
    opacity: 0.5;
    float: left;
    left: 10px;
}

#loggetInnSom {
    margin-right: 10px;
}

.kommentarpanel{
    text-decoration: none;
    width: 96%;
    border-radius: 4px;
    background-color: rgba(30, 37, 48, 0.5);
    padding-left: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

#kommentar {
    width: 95%;
    height: 100px;
}



#kommentarBox {
    background-color: rgba(30, 37, 48, 0.5);
}

.sletteKryss {

    position: relative;
    float: right;
}

#barer {
    background-image: url(http://localhost/something/bilder/Icons/bars.jpg);
}

#restauranter {
    background-image: url(http://localhost/something/bilder/Icons/restaurants.jpg);
}

#studie {
    background-image: url(http://localhost/something/bilder/Icons/education.jpg);
}

#helse {
    background-image: url(http://localhost/something/bilder/Icons/health.jpg);
}

#transport {
    background-image: url(http://localhost/something/bilder/Icons/transport.jpg);
}

#parkering {
    background-image: url(http://localhost/something/bilder/Icons/parking.jpg);
}

#butikker {
    background-image: url(http://localhost/something/bilder/Icons/Shopping.jpg);
}

.minside {
    position: absolute;
    margin-top: 150px;
}



#barerimg {
    background-image: url(http://localhost/something/bilder/kategoribilder/barerbackground.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

}

.container{
    position: absolute;
    width: 1100px;
    height: 570px;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

#bar1 {
    position: absolute;
    float: left;

}

#bar2 {
    position: absolute;
    float: left;
    margin-left: 250px;

}

#bar3 {
    position: absolute;
    float: left;
    margin-left: 500px;

}

#bar4 {
    position: absolute;
    float: left;
    margin-left: 750px;


}

.titelundersider {
    display:block;
    margin:auto;
    margin-bottom: 130px
}
