/*Home kode - start*/


/*Settings generelt for siden - start*/

* {
    margin: 0;
    padding: 0;
}

a,
h1,
h2,
p,
#infobar {
    text-decoration: none;
    font-family: "Segoe UI";
}

p {
    font-size: 1.2em;
    top: 10px;
}


/*Settings generelt for siden - slutt*/


/*Header og navigator - start*/

header {
    position: relative;
    overflow: hidden;
    background-color: rgba(30, 37, 48, 0.5);
    height: 100px;
}

#logo {
    float: left;
    padding-left: 5%;
    max-width: 50%;
}

#logo img {
    margin-top: 4px;
    max-width: 200px;
}

#navbuttons {
    float: right;
    text-align: center;
    text-decoration: none;
    max-width: 100%;
    margin-top: 20px;
    margin-right: 5%;
}

#navbuttons a {
    color: #b7ffff;
    padding: 10px;
    display: inline-block;
}

#navbuttons a:hover {
    background-color: rgba(30, 37, 48, 0.5);
    border-radius: 10%;
}

#infobar,
#infobarcontent {
    position: inherit;
    height: 30px;
    width: 100%;
    background-color: rgba(30, 37, 48, 0.5);
    display: inline-block;
    z-index: 1;
    color: #b7ffff;
}

#infobarcontent {
    padding-left: 5%;
    line-height: 25px;
}


/*Header og navigator - slutt*/


/*html, body (alt innenfor body) - start*/

html {
    height: 100%;
}

body {
    position: relative;
    background-image: url(https://www.westerdals.no/content/uploads/2015/12/Fasade-fra-elven.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    min-height: 100%;
}


/*Container med hovedinnhold på alle sider - start*/

#container {
    width: 90%;
    height: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
    border-radius: 2%;
    position: relative;
}


/*Container med hovedinnhold på alle sider - slutt*/

#sitecontent {
    text-align: center;
    position: relative;
    margin: auto;
    padding: 1%;
}


/*html, body (alt innenfor body) - slutt*/


/*Pusher og footer - start*/

.push {
    height: 70px;
}

footer {
    background-color: rgba(30, 37, 48, 0.5);
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 40px;
    text-align: center;
}

footer p {
    margin-top: 10px;
    color: #b7ffff;
}


/*Pusher og footer - slutt*/


/*Hexagons hovedside - start*/

#hexbox {
    width: 600px;
    margin: auto;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
}

.li {}

ol.even {
    position: relative;
    left: 3.7%;
}

ol.odd {
    position: relative;
    margin-bottom: -8%;
    left: 19%;
}

ol.odd2 {
    position: relative;
    margin-top: -8%;
    left: 19%;
}

.hex {
    left: 7.25%;
    position: relative;
    margin: 3% auto;
    width: 94px;
    height: 10.2rem;
    background: #1e2530;
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    display: inline-block;
    list-style-type: none;
    margin-right: 14%;
    transition: all 150ms ease-in-out;
    z-index: 2;
    opacity: 0.9;
    box-shadow: 0 0 150px 50px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.hex:before,
.hex:after {
    position: absolute;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    background: inherit;
    content: '';
    z-index: -1;
}

.hex:before {
    transform: rotate(60deg);
    -webkit-transform: rotate(60deg);
}

.hex:after {
    transform: rotate(-60deg);
    -webkit-transform: rotate(-60deg);
}

.hex:hover {
    background: #ea7432;
    cursor: pointer;
}

#hexText {
    position: fixed;
    float: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #b7ffff;
}


/*Hexagons hovedside - slutt*/

#registerbox,
#brukerinfo,
.adminpanel {
    line-height: 150%;
}
.forms {
    text-decoration: none;
    width: 200px;
    border-radius: 4px;
    background-color: rgba(30, 37, 48, 0.5);
    text-align: center;
    margin-left: auto;
    margin-bottom: auto;
    margin-right: auto;
    margin-top: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

.adminpanel{
    text-decoration: none;
    width: 200px;
    border-radius: 4px;
    background-color: rgba(30, 37, 48, 0.5);
    padding-left: 30px;
    margin-left: auto;
    margin-bottom: auto;
    margin-right: auto;
    margin-top: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

.forms a, .adminpanel a {
    color: #b7ffff;
}

.varsel {
    text-decoration: none;
    width: 200px;
    border-radius: 4px;
    background-color: rgba(30, 37, 48, 0.5);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #b7ffff;
}


/*Home kode - slutt*/
